<head>
  <title>StylingStorey</title>
  <%= stylesheet_link_tag    'application', 'owl.carousel', 'owl.theme.css', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<header>
  	<h1 id="styling"> THE STYLING STOREY </h1>
  <div id="nav_wrap">
	   <nav>
       	<ul>
       		<li><a class="styling_nav">THE STYLING STOREY</a></li>
          <li><a class="my_nav"> MY STOREY</a></li>
	   	    <li><a class="their_nav"%>THEIR STOREY</a></li>
	   	    <li><a class="your_nav"%>YOUR STOREY</a></li>
	   	    <li><a class="blog_nav"%>BLOG</a></li>
       	</ul>
	   </nav>
  </div>
</header>
<main>
  <img src="assets/main.png" class="img_banner" />
  <div id= "my_storey">
    <h2 class ="divider"> MY STOREY </h2>
    <aside>
      <img src="assets/louise.png" />
      <h3> Louise Storey <br> Stylist and Wardrobe Consultant </h3>
    </aside>
	  <p>Helping every woman reconnect with her individuality and style<br>
        My name is Louise Storey I have worked within retail management (Russell&Bromley/independent boutiques/Hobbs/Anthropologie) for 15 years and I also have a marketing degree from London College of Fashion where I specialised in sustainable fashion.<br><br>
        I have been styling my customers and my nearest in dearest since I was young.<br><br>
        Clothing and style communicates a lot about ourselves and can help build confidence when it is lacking, help us feel re-connected with a part of ourselves that has been forgotten, help us achieve a goal that we have only dreamt of and generally make us feel more glorious about ourselves.<br><br>
        I am here to try and create some balance as I am very aware of how excessive our levels of consumption have become. If we all had a wardrobe full of clothes (old and new) that we knew we could wear in multiples ways and we felt confident in how to wear those clothes in all kinds of situations, we would then feel confident in consuming smarter and feel ready for every occasion. I can help teach you these skills and also help release your own creative flair.<br><br>
        If this sounds familiar then I am here to help you feel re-inspired with what you already own and help you feel reinvigorated and reconnected to your story.<br><br>
        Email me at <b><a href="thestylingstorey@gmail.com">thestylingstorey@gmail.com</a></b> to book an appointment
    </p>
  </div>
  <div id="their_storey">
    <h2 class="divider"> THEIR STOREY</h2>
    <div id="their_storey_carousel" class="owl-carousel">
      <div class="item"><img src="assets/their1.png" alt="Owl Image"></div>
      <div class="item"><img src="assets/their2.png" alt="Owl Image"></div>
      <div class="item"><img src="assets/their3.png" alt="Owl Image"></div>
      <div class="item"><img src="assets/their4.png" alt="Owl Image"></div>
      <div class="item"><img src="assets/their5.png" alt="Owl Image"></div>
    </div>
    <h3> Reviews </h3>
    <ul>
      <li>“Just wanted to say thank you again for the consultation on Thursday. It was really useful and interesting and has given me lots of food for thought. I’ve already worn a couple of the outfits we put together and have had lovely compliments as a result. I feel like I’m well on the way to getting the best use out of my wardrobe. I also feel relieved that certain item are no longer in there accumulating dust or daring me to wear them when they didn’t look good!” — Sarah
      </li>
      <li>“I just wanted to thank you for yesterday - I found it unbelievably useful & had so much fun too!”— Lucinda
      </li>
      <li>“Cheesy as it sounds, finding what to wear in the morning is now fun not a vacant staring into my wardrobe for 10 mins! Genuinely feel am getting more value out of many clothes that would have hung there unloved for many more months”— Caroline
      </li>
      <li>“I can thoroughly recommend ‘The Styling Storey’ - Louise came and spent a day with me sorting out my wardrobe - it is now organised and I have many more outfits to choose from, despite discarding three bin bags full to recycling/charity.”— Sally
      </li>
    </ul>
  <div id="your_storey">
     <h2 class="divider"> YOUR STOREY</h2>
     <p>Email me at <b><a href="thestylingstorey@gmail.com">thestylingstorey@gmail.com</a></b> to book an appointment<br><br>Prices</p>
  </div>
</main>